{% extends "layout.html" %}

{% block content %}
<section class="contenido wrapper">
    <h1 class="titulo">¿Qué es Docker?</h1>
    <p class="justify">Docker es uno de los proyectos más conocidos y utilizados en temas de virtualización. 
    Lejos de ser un sistema operativo como tal, esta plataforma de código abierto hace uso de las funciones de aislamiento de recursos del 
    kernel de Linux para poder dar lugar a contenedores independientes, dentro de los cuales se ejecutará una única aplicación con sus respectivas 
    dependencias, pero funcionando siempre con un único kernel, el de la máquina real, en lugar de virtualizar uno por cada contenedor o máquina virtual. </p>
    <p class="justify">En resumen, mientras cada aplicación en máquinas virtuales necesita contar con un sistema operativo completo virtualizado 
    (ocupando, por ejemplo, 1 GB de memoria RAM), Docker aprovecha el kernel de la máquina real y, con su motor, tan solo carga en la memoria las 
    librerías y dependencias necesarias para ejecutar la aplicación, despreciando todo lo demás y ocupando alrededor del un 80% menos, por 
    ejemplo, 200 MB de RAM.</p> 
    <img class="img_center" src="{{ url_for('static',filename='images/docker.webp') }}" width="200" height="200">
</section> 
{% endblock %}