{% extends "layout.html" %}

{% block content %}
<section class="contenido wrapper">
    <h1 class="titulo">¿Qué es Ubuntu?</h1>
    <p class="justify">Ubuntu es un sistema operativo desarrollado por la comunidad que es perfecto para laptops, computadoras de escritorio y 
    servidores. Ya sea que lo utilices en el hogar, en la escuela o en el trabajo, Ubuntu contiene todas las aplicaciones que puedas necesitar, 
    desde procesadores de texto y aplicaciones de email, hasta software para servidor web y herramientas de programación.</p>
    <p class="justify">Ubuntu es y siempre será libre de costo. No pagas por una licencia de uso. Puedes descargar, usar y compartir Ubuntu con 
    tus amigos, familiares, escuela o negocios libremente.</p>
    <p class="justify">Ubuntu está diseñado pensando en la seguridad. Consigues actualizaciones de seguridad libremente por lo menos 18 meses 
    en la versión de escritorio y servidor. Con la versión con Long Term Support (LTS) tienes soporte por tres añosen la versión de escritorio, 
    y cinco años en la versión de servidor. No se requiere de pagos extra por la versión LTS, ponemos lo mejor de nuestro trabajo 
    disponible a todos en los mismos términos libres. Actualizaciones a la nueva versión de Ubuntu son y siempre serán libres de costo.</p>
    <img class="img_center" src="{{ url_for('static',filename='images/ubuntu.png') }}" width="200" height="200">
</section> 
{% endblock %}